.buffer-div {
    width: 100%;
    height: 0.75rem;
}

.baseball-ballpark-row {
    margin-top: 0.75rem;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.baseball-ballpark-header {
    display: table-row;
}

.baseball-ballpark-element {
    width: 12rem;
    display: block;
    float: left;
    position: relative;
}

.baseball-ballpark {
    width: 100%;
}

.baseball-ballpark-visited {
    width: 100%;
    opacity: 0.85;
}

.baseball-logo {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.baseball-discussion {
    width: 35.75rem;
    background-color: #0a1a24dd;
    color: #deedfe;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 0.75rem;
}

.baseball-discussion-frame {
    width: 37.75rem;
    display: table-cell;
    vertical-align: middle;
}


.baseball-photo-frame {
    width: 26.625rem;
    display: table-cell;
    vertical-align: middle;
}

.baseball-photo {
    width: 24.875rem;
    margin-left: 0.875rem;
    border-radius: 0.75rem;
}