.top-contact-wrapper {
	width: 59rem;
	height: 12.5rem;
	margin: auto;
	margin-top: 2.5rem;
}

.bottom-contact-wrapper {
	width: 38.5rem;
	height: 12.5rem;
	margin: auto;
	margin-top: 2.5rem;
}

.contact-option {
	float: left;
	height: 100%;
	width: 18rem;
	background-color: #0a1a24dd;
    color: #deedfe;
    border-radius: 2rem;
}

.contact-option:hover {
	float: left;
	height: 100%;
	width: 18rem;
	background-color: #0a1a24;
    color: #deedfe;
    border-radius: 2rem;
    cursor: pointer;
}

.contact-option-right {
	margin-left: 2.5rem;
}

.contact-image {
	height: 6rem;
	width: 6rem;
	margin-left: 6rem;
	margin-top: 3.25rem;
}