* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Condensed';

body {
    background-color: #deedfe;
}

ul {
    list-style-type: none;
}

.top-menu {
    position: absolute;
    left: 0rem;
    right: 0rem;
    margin: auto;
    width: 63.5rem;
    margin-top: 4.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    border-radius: 1rem;
    background-color: #0a1a24;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.top-menu-option {
    font-weight: bold;
    margin-left: 0.5rem;
    width: 10rem;
    font-size: 2rem;
    height: 2.75rem;
    float: left;
    text-align: center;
    text-decoration: none;
    border-radius: 0.5rem;
    cursor: pointer;

    color: #0a1a24;
    background-color: #deedfe;
}

.top-menu-option a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
}

.top-menu-option-selected {
    font-weight: bold;
    margin-left: 0.5rem;
    width: 10rem;
    font-size: 2rem;
    height: 2.75rem;
    float: left;
    text-align: center;
    text-decoration: none;
    border-radius: 0.5rem;
    cursor: default;

    color: #deedfe;
    background-color: #0a1a24;
}

.top-menu-option:hover {
    margin-left: 0.5rem;
    width: 9.875rem;
    font-size: 2rem;
    height: 2.625rem;
    float: left;
    text-align: center;
    text-decoration: none;
    border-radius: 0.5rem;
    cursor: pointer;

    color: #deedfe;
    background-color: #0a1a24;
    border: 0.0625rem solid #deedfe;
}

.menu-link-span {
    display: block;
    height: 2.625rem;
}

.mountain-range {
    position: absolute;
    left: 0rem;
    right: 0rem;
    margin:auto;

    width: 61.5rem;
    height: 4.5rem;
}

.connectome-background {
    position: fixed;
    top: 0rem;
    width: 63.5rem;
    right: 0rem;
    left: 0rem;
    margin: auto;
    z-index: -1;
}

.content-div {
    right: 0rem;
    left: 0rem;
    margin: auto;
    z-index: 0;

    position: absolute;
    width: 63.5rem;
    top: 8.75rem;
}

.footer-div {
    height: 5rem;
    width: 100%;
}

/* barlow-condensed-regular - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Barlow_Condensed/barlow-condensed-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Barlow Condensed Regular'), local('BarlowCondensed-Regular'),
       url('/fonts/Barlow_Condensed/barlow-condensed-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Barlow_Condensed/barlow-condensed-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Barlow_Condensed/barlow-condensed-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Barlow_Condensed/barlow-condensed-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Barlow_Condensed/barlow-condensed-v5-latin-regular.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
