%light-shadow {
    box-shadow: 0.03125rem 0.125rem 0.03125rem 0.03125rem $color-darkest;
    -webkit-box-shadow: 0.03125rem 0.125rem 0.03125rem 0.03125rem $color-darkest;
}

%dark-shadow {
    box-shadow: 0.25rem 0.25rem 0.5rem 0.125rem $color-darkest;
  	-webkit-box-shadow: 0.25rem 0.25rem 0.5rem 0.125rem $color-darkest;
}

%black-shadow {
    box-shadow: 0.25rem 0.25rem 0.5rem 0.125rem black;
  	-webkit-box-shadow: 0.25rem 0.25rem 0.5rem 0.125rem black;
}