<div id="hiking-twenty-four-by-twelve">
    <div class="hiking-picture"></div>
</div>
<div id="hiking-eight-by-twelve">
    <div class="hiking-picture"></div>
</div>
<div id="hiking-sixteen-by-twelve">
    <div class="hiking-picture"></div>
</div>
<div id="hiking-forty-eight-by-twelve">
    <div class="hiking-picture"></div>
</div>
<div id="hiking-thirty-two-by-twenty-four">
    <div class="hiking-picture"></div>
</div>
<div id="hiking-sixteen-by-twenty-four">
    <div class="hiking-picture"></div>
</div>
