.header-menu-option:hover {
  box-shadow: 0.03125rem 0.125rem 0.03125rem 0.03125rem #053321;
  -webkit-box-shadow: 0.03125rem 0.125rem 0.03125rem 0.03125rem #053321; }

.header-menu, .baseball-ballpark-element, #baseball-discussion, #baseball-photo, .contact-option, .home-biography, .hiking-picture, .research-type-header, .research-div, .post-card-001:hover, .post-card-002:hover, .post-card-003:hover, .post-card-004:hover, .post-card-005:hover, .post-card-006:hover, .post-card-007:hover, .post-card-008:hover, .post-card-009:hover, .post-card-010:hover, #post-card-spotlight:hover {
  box-shadow: 0.25rem 0.25rem 0.5rem 0.125rem #053321;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem 0.125rem #053321; }

.contact-option:hover {
  box-shadow: 0.25rem 0.25rem 0.5rem 0.125rem black;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem 0.125rem black; }

/*
 * Remove any original margin or padding on HTML elements 
 */
* {
  margin: 0;
  padding: 0; }

/* 
 * Set the default colors and fonts for all webpages 
 */
body {
  color: #085436;
  background: #fffff0;
  font-family: 'Barlow Condensed'; }

/* 
 * Remove bullets from all lists 
 */
ul {
  list-style-type: none; }

/* 
 * Font from Google fonts
 */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Barlow_Condensed/barlow-condensed-v5-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Barlow Condensed Regular"), local("BarlowCondensed-Regular"), url("/fonts/Barlow_Condensed/barlow-condensed-v5-latin-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Barlow_Condensed/barlow-condensed-v5-latin-regular.woff2") format("woff2"), url("/fonts/Barlow_Condensed/barlow-condensed-v5-latin-regular.woff") format("woff"), url("/fonts/Barlow_Condensed/barlow-condensed-v5-latin-regular.ttf") format("truetype"), url("/fonts/Barlow_Condensed/barlow-condensed-v5-latin-regular.svg#BarlowCondensed") format("svg");
  /* Legacy iOS */ }
/*
 * Add a buffer for the page content
 */
#content {
  right: 0rem;
  left: 0rem;
  margin: auto;
  z-index: 0;
  min-height: calc(100vh - 8.75rem);
  position: absolute;
  width: 63.5rem;
  top: 8.75rem;
  background-size: 100% auto;
  background-repeat: no-repeat; }

/*
 * Add a small footer for some of the longer pages
 */
.footer-div {
  position: relative;
  width: 100%;
  height: 2rem;
  display: block;
  float: left; }

.header-image {
  position: absolute;
  left: 0rem;
  right: 0rem;
  margin: auto;
  width: 61.5rem;
  height: 4.5rem; }

.header-menu {
  background-color: #085436;
  position: absolute;
  left: 0rem;
  right: 0rem;
  margin: auto;
  width: 63.5rem;
  margin-top: 4.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 1rem;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */ }

.header-menu-option {
  font-weight: bold;
  margin-left: 0.5rem;
  width: 10rem;
  font-size: 2rem;
  height: 2.75rem;
  float: left;
  text-align: center;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #adeab6;
  background-color: #085436;
  cursor: pointer; }
  .header-menu-option:hover {
    color: #085436;
    background-color: #adeab6; }
  .header-menu-option a {
    color: inherit;
    display: block;
    text-decoration: none; }

.baseball-ballpark-element {
  margin-top: 0.75rem;
  height: 8rem;
  width: 12rem;
  display: block;
  float: left;
  position: relative; }

.baseball-ballpark, .baseball-ballpark-visited, .baseball-logo {
  width: 100%;
  height: 100%; }

.baseball-ballpark-visited {
  opacity: 0.85; }

.baseball-logo {
  position: absolute;
  top: 0rem;
  left: 0rem;
  opacity: 0.5; }

.baseball-header {
  border-collapse: collapse;
  display: table-row; }

#baseball-discussion {
  width: 35.75rem;
  background-color: #085436;
  color: #adeab6;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  margin-top: 1rem;
  text-align: justify; }

.baseball-discussion-frame {
  width: 37.75rem;
  display: table-cell;
  padding: 0rem;
  float: left; }

.baseball-photo-frame {
  width: 25.75rem;
  display: table-cell;
  padding: 0rem;
  float: right; }

#baseball-photo {
  border-radius: 1rem;
  cursor: pointer; }

.top-contact-wrapper, .bottom-contact-wrapper {
  height: 12.5rem;
  margin: auto;
  margin-top: 2.5rem; }

.top-contact-wrapper {
  width: 61.5rem; }

.bottom-contact-wrapper {
  width: 41rem; }

.contact-option {
  float: left;
  height: 100%;
  width: 18rem;
  background-color: #085436;
  color: #adeab6;
  border-radius: 2rem;
  cursor: pointer;
  margin-left: 1.25rem;
  margin-right: 1.25rem; }
  .contact-option:hover {
    background-color: #053321; }

.contact-image {
  height: 6rem;
  width: 6rem;
  margin-left: 6rem;
  margin-top: 3.25rem; }

.home-biography {
  text-align: justify;
  float: right;
  width: 34rem;
  margin-top: 1rem;
  background-color: #085436;
  font-size: 1.5rem;
  padding: 2rem;
  color: #adeab6;
  border-radius: 1rem; }
  .home-biography span, .home-biography a {
    color: #fffff0; }

.home-images {
  width: 23.5rem;
  float: left;
  margin-top: 1rem;
  position: relative; }

/* inspired by https://codepen.io/joshbader/pen/fFLno */
.home-image, #home-cube-container, #home-cube, #home-cube figure {
  width: 20rem;
  height: 24rem; }

.home-image {
  float: left; }

#home-cube-container {
  position: relative;
  perspective: 1000px;
  margin-left: 2rem;
  margin-top: 2.25rem; }

#home-cube {
  position: absolute;
  margin: 0rem;
  padding: 0rem;
  transform-style: preserve-3d;
  transition: all 250ms; }

#home-cube figure {
  position: absolute;
  display: block;
  border: 0.125rem solid #085436;
  cursor: pointer; }

#home-cube .front {
  transform: rotateY(0deg) translateZ(10rem); }

#home-cube .back {
  transform: rotateX(180deg) translateZ(10rem); }

#home-cube .right {
  transform: rotateY(90deg) translateZ(10rem); }

#home-cube .left {
  transform: rotateY(-90deg) translateZ(10rem); }

#home-cube .top {
  transform: rotateX(90deg) translateZ(10rem); }

#home-cube .bottom {
  transform: rotateX(-90deg) translateZ(10rem); }

.blur {
  animation: blur 250ms; }

@keyframes blur {
  0% {
    -webkit-filter: blur(0rem); }
  50% {
    -webkit-filter: blur(0.5rem); }
  100% {
    -webkit-filter: blur(0rem); } }
.hiking-post {
  width: 15rem;
  height: 45rem;
  background-image: url("/static/images/hiking/post/hiking-post-with-grass.png");
  background-size: 100% 100%;
  /* position in top left of content-div */
  position: absolute;
  top: 0rem;
  left: 0rem; }

#hiking-collage {
  position: absolute;
  top: 0.5rem;
  left: 15.5rem;
  height: 48rem;
  width: 48rem; }

.hiking-picture {
  position: relative;
  height: 95%;
  width: 95%;
  left: 2.5%;
  top: 2.5%;
  background-size: 100% 100%;
  background-position: center;
  border-radius: 1rem; }

#hiking-forty-eight-by-twelve, #hiking-sixteen-by-twelve, #hiking-twenty-four-by-twelve, #hiking-eight-by-twelve, #hiking-thirty-two-by-twenty-four, #hiking-sixteen-by-twenty-four {
  float: left; }

#hiking-forty-eight-by-twelve {
  width: 48rem;
  height: 12rem; }

#hiking-sixteen-by-twelve {
  width: 16rem;
  height: 12rem; }

#hiking-twenty-four-by-twelve {
  width: 24rem;
  height: 12rem; }

#hiking-eight-by-twelve {
  width: 8rem;
  height: 12rem; }

#hiking-thirty-two-by-twenty-four {
  width: 32rem;
  height: 24rem; }

#hiking-sixteen-by-twenty-four {
  width: 16rem;
  height: 24rem; }

.hiking-sign-position {
  /* create a relative position element so that rotation is relative to this element */
  position: relative; }

#hiking-sign-rotation-00, #hiking-sign-rotation-01, #hiking-sign-rotation-02, #hiking-sign-rotation-03, #hiking-sign-rotation-04, #hiking-sign-rotation-05, #hiking-sign-rotation-06 {
  width: 12rem;
  height: 4rem;
  -webkit-transform-origin: 5.42rem 0.55rem;
  -moz-transform-origin: 5.42rem 0.55rem;
  -ms-transform-origin: 5.42rem 0.55rem;
  -o-transform-origin: 5.42rem 0.55rem;
  transform-origin: 5.42rem 0.55rem;
  background-size: 100% 100%;
  background-image: url("/static/images/hiking/post/sign.png"); }
  #hiking-sign-rotation-00:hover, #hiking-sign-rotation-01:hover, #hiking-sign-rotation-02:hover, #hiking-sign-rotation-03:hover, #hiking-sign-rotation-04:hover, #hiking-sign-rotation-05:hover, #hiking-sign-rotation-06:hover {
    background-image: url("/static/images/hiking/post/sign-shadow.png"); }

.hiking-post-sign-text {
  /* corresponds to only the wood sign */
  width: 10.85rem;
  height: 3.2rem;
  left: 0.29rem;
  top: 0.5rem;
  color: black;
  cursor: pointer;
  /* position relative to the rotated parent */
  position: relative;
  text-align: center;
  font-size: 1rem;
  font-family: 'Rock Salt', cursive; }

#hiking-sign-rotation-00 {
  transform: rotate(6deg);
  margin-top: 4.5rem;
  margin-left: 1.5rem; }

#hiking-sign-rotation-01 {
  transform: rotate(-10deg);
  margin-top: 1.5rem;
  margin-left: 1.25rem; }

#hiking-sign-rotation-02 {
  transform: rotate(-4deg);
  margin-top: 0.5rem;
  margin-left: 1.65rem; }

#hiking-sign-rotation-03 {
  transform: rotate(11deg);
  margin-top: 1.1rem;
  margin-left: 1.85rem; }

#hiking-sign-rotation-04 {
  transform: rotate(-1deg);
  margin-top: 0.95rem;
  margin-left: 1.25rem; }

#hiking-sign-rotation-05 {
  transform: rotate(-10deg);
  margin-top: 0.95rem;
  margin-left: 1.5rem; }

#hiking-sign-rotation-06 {
  transform: rotate(3deg);
  margin-top: 0.95rem;
  margin-left: 1.75rem; }

.research-type-header, .research-div, .research-bibtex-citation {
  color: #adeab6;
  background-color: #085436;
  border-radius: 1rem;
  margin-top: 0.75rem; }

.research-type-header {
  width: 61.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 2.25rem; }

.research-div {
  width: 62rem;
  height: 7.5rem;
  padding: 0.75rem; }

.research-teaser-image {
  float: left;
  width: 7.5rem;
  height: 7.5rem;
  margin: 0rem;
  border-radius: 0.25rem; }

.research-information-wrapper {
  position: relative;
  float: left;
  margin-left: 0.75rem;
  height: 7.5rem;
  width: 53.25rem; }

.research-title {
  width: 100%;
  height: 2rem;
  font-size: 1.75rem;
  font-weight: bold; }

.research-authors {
  width: 100%;
  height: 1.25rem;
  font-size: 1rem; }

.research-venue {
  width: 100%;
  margin-top: 0.25rem;
  height: 1.25rem;
  font-size: 1rem; }

.research-links {
  width: 100%;
  position: absolute;
  bottom: 0rem;
  cursor: pointer; }
  .research-links a {
    margin-right: 0.5rem;
    color: inherit;
    text-decoration: underline; }

.research-bibtex-citation {
  display: none;
  width: 62rem;
  padding: 0.75rem;
  margin-top: 0.25rem; }

.post-card-001, .post-card-002, .post-card-003, .post-card-004, .post-card-005, .post-card-006, .post-card-007, .post-card-008, .post-card-009, .post-card-010, #post-card-spotlight {
  position: absolute;
  width: 30rem;
  height: 22.5rem;
  background-size: 100% 100%;
  background-repeat: no-repeat; }
  .post-card-001:hover, .post-card-002:hover, .post-card-003:hover, .post-card-004:hover, .post-card-005:hover, .post-card-006:hover, .post-card-007:hover, .post-card-008:hover, .post-card-009:hover, .post-card-010:hover, #post-card-spotlight:hover {
    background-color: #085436;
    cursor: pointer; }

.post-card-001 {
  top: 8rem;
  left: -7rem;
  transform: rotate(24deg);
  z-index: 1; }

.post-card-002 {
  top: 8rem;
  left: 28rem;
  transform: rotate(-6deg);
  z-index: 2; }

.post-card-003 {
  top: 16rem;
  left: 18rem;
  transform: rotate(2deg);
  z-index: 6; }

.post-card-004 {
  top: 2.5rem;
  left: 12rem;
  transform: rotate(-9deg);
  z-index: 4; }

.post-card-005 {
  top: 14rem;
  left: 36rem;
  transform: rotate(12deg);
  z-index: 7; }

.post-card-006 {
  top: 22rem;
  left: -3rem;
  transform: rotate(-17deg);
  z-index: 6; }

.post-card-007 {
  top: 26rem;
  left: 8rem;
  transform: rotate(2deg);
  z-index: 7; }

.post-card-008 {
  top: 26rem;
  left: 34rem;
  transform: rotate(-5deg);
  z-index: 4; }

.post-card-009 {
  top: 1rem;
  left: -4rem;
  transform: rotate(-1deg);
  z-index: 0; }

.post-card-010 {
  top: 1.25rem;
  left: 38rem;
  transform: rotate(4deg);
  z-index: -1; }

#post-card-spotlight {
  width: 48rem;
  height: 36rem;
  box-shadow: 0 0 4rem #053321;
  -moz-box-shadow: 0 0 4rem #053321;
  -webkit-box-shadow: 0 0 4rem #053321;
  top: 2rem;
  left: 50%;
  margin-left: -24rem;
  display: none;
  z-index: 12; }
  #post-card-spotlight:hover {
    box-shadow: 0 0 6rem #053321;
    -moz-box-shadow: 0 0 6rem #053321;
    -webkit-box-shadow: 0 0 6rem #053321; }

/*# sourceMappingURL=main.css.map */
