@import "variables";

%light-shadow {
    box-shadow: 0.03125rem 0.125rem 0.03125rem 0.03125rem $color-darker;
    -webkit-box-shadow: 0.03125rem 0.125rem 0.03125rem 0.03125rem $color-darker;
}

%dark-shadow {
    box-shadow: 0.25rem 0.25rem 0.5rem 0.125rem $color-darker;
  	-webkit-box-shadow: 0.25rem 0.25rem 0.5rem 0.125rem $color-darker;
}

%black-shadow {
    box-shadow: 0.25rem 0.25rem 0.5rem 0.125rem black;
  	-webkit-box-shadow: 0.25rem 0.25rem 0.5rem 0.125rem black;
}