@import "../variables" as *;
@import "../mixins" as *;

%contact-wrapper {
    height: 12.5rem;
    margin: auto;
    margin-top: 2.5rem;
}

.top-contact-wrapper {
    @extend %contact-wrapper;
    width: 61.5rem;
}

.bottom-contact-wrapper  {
    @extend %contact-wrapper;
    width: 41rem;
}

.contact-option {
    @extend %dark-shadow;

    float: left;
    height: 100%;
    width: 18rem;
    background-color: $color-dark;
    color: $color-light;
    border-radius: 2rem;
    cursor: pointer;
    margin-left: 1.25rem;
    margin-right: 1.25rem;

    &:hover {
        @extend %black-shadow;

        background-color: $color-darker;
    }
}

.contact-image {
    height: 6rem;
    width: 6rem;
    margin-left: 6rem;
    margin-top: 3.25rem;
}