@use "../variables" as *;
@use "../mixins" as *;

%research-div-style {
    color: $color-light;
    background-color: $color-dark;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
}

.research-type-header {
    @extend %dark-shadow;
    @extend %research-div-style;

    width: 63.5rem;
    padding: 0.25rem 1rem 0.25rem 1rem;

    font-size: 1.5rem;
}

.research-div {
    @extend %dark-shadow;
    @extend %research-div-style;

    width: 63.5rem;
    height: 6rem;
    padding: 0.25rem;
}

.research-teaser-image {
    float: left;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 0.25rem;
    margin-left: 0.25rem
}

.research-information-wrapper {
    position: relative;
    float: left;
    margin-left: 0.75rem;
    height: 5.5rem;
    width: 55.25rem;
}

.research-title {
    width: 100%;
    height: 1.5rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.research-authors {
    width: 100%;
    font-size: 0.75rem;
}

.research-venue {
    width: 100%;
    margin-top: 0.25rem;
    height: 1rem;
    font-size: 0.75rem;
}

.research-links {
    width: 100%;
    cursor: pointer;
    position: absolute;
    bottom: 0rem;
    font-size: 0.75rem;

    a {
        margin-right: 0.5rem;
        color: inherit;
        text-decoration: underline;
    }
}