.home-biography {
    @extend %dark-shadow;

    text-align: justify;
    float: right;
    width: 34rem;
    margin-top: 1rem;
    background-color: $color-dark;
    font-size: 1.5rem;
    padding: 2rem;
    color: $color-light;
    border-radius: 1rem;

    span, a {
        color: $color-beige;
    }
}

.home-images {
    width: 23.5rem;
    float: left;
    margin-top: 1rem;
    position: relative;
}

/* inspired by https://codepen.io/joshbader/pen/fFLno */
%home-cube-container-geometry {
    width: 20rem;
    height: 24rem;
}

.home-image {
    @extend %home-cube-container-geometry;

    float: left;
}

#home-cube-container {
    @extend %home-cube-container-geometry;

    position: relative;
    perspective: 1000px;
    margin-left: 2rem;
    margin-top: 2.25rem;
}

#home-cube {
    @extend %home-cube-container-geometry;

    position: absolute;
    margin: 0rem;
    padding: 0rem;
    transform-style: preserve-3d;
    transition: all 250ms;
}

#home-cube figure {
    @extend %home-cube-container-geometry;
    
    position: absolute;
    display: block;
    border: 0.125rem solid $color-dark;
    cursor: pointer;
}

#home-cube .front { transform: rotateY(0deg) translateZ(10rem); }
#home-cube .back { transform: rotateX(180deg) scaleX(-1) translateZ(10rem); }
#home-cube .right { transform: rotateY(90deg) translateZ(10rem); }
#home-cube .left { transform: rotateY(-90deg) translateZ(10rem); }
#home-cube .top { transform: rotateX(90deg) translateZ(10rem); }
#home-cube .bottom { transform: rotateX(-90deg) translateZ(10rem); }

.blur { animation: blur 250ms; }

@keyframes blur {
    0% { -webkit-filter: blur(0rem); }
    50% { -webkit-filter: blur(0.5rem); }
    100% { -webkit-filter: blur(0rem); }
}
