<div class="baseball-header">
  <div class="baseball-discussion-frame">
    <div id="baseball-discussion">
      One of my travel goals is to attend at least one game at every current Major League Baseball stadium. 
      Over the last decade, I have planned several vacations to cities nationwide to expand my list of visited stadiums. 
      My brother Rob, our buddy Joe, and my Dad are frequent travel partners on these expeditions. 
      I have attended games at 26 different stadiums, missing only Arizona, Texas, Chicago (White Sox), and Kansas City. 
      I hope to visit these remaining five in the coming few years. 
      My favorite stadiums (outside of the home favorite, Citi Field) are PNC Park (PIT), AT&T Park (SF), and Coors Field (DEN). 
      Each one of these stadiums combines modern amenities with spectacular views of the city and the surrounding environment. 
      Denver gets a special shoutout for "The Rooftop" bar that provides excellent views of the game and the Rocky Mountains in the distance.
    </div>
  </div>
  <div class="baseball-photo-frame">
    <img id="baseball-photo" onclick="BaseballPhotoClick();"/>
  </div>
</div>

<div class="baseball-ballpark-element" style="margin-right: 0.875rem"><img src="/static/images/baseball/stadiums/ChaseField.jpg" class="baseball-ballpark"/></div>
<div class="baseball-ballpark-element" style="margin-right: 0.875rem"><img src="/static/images/baseball/stadiums/TurnerField.jpg" class="baseball-ballpark-visited"/><img src="/static/images/baseball/logos/ATL.png" class="baseball-logo"/></div>
<div class="baseball-ballpark-element" style="margin-right: 0.875rem"><img src="/static/images/baseball/stadiums/CamdenYards.jpg" class="baseball-ballpark-visited"/><img src="/static/images/baseball/logos/BAL.png" class="baseball-logo"/></div>
<div class="baseball-ballpark-element" style="margin-right: 0.875rem"><img src="/static/images/baseball/stadiums/FenwayPark.jpg" class="baseball-ballpark-visited"/><img src="/static/images/baseball/logos/BOS.png" class="baseball-logo"/></div>
<div class="baseball-ballpark-element"><img src="/static/images/baseball/stadiums/WrigleyField.jpg" class="baseball-ballpark-visited"/><img src="/static/images/baseball/logos/CHI.png" class="baseball-logo"/></div>
<div class="baseball-ballpark-element" style="margin-right: 0.875rem"><img src="/static/images/baseball/stadiums/GuaranteedRateField.jpg" class="baseball-ballpark"/></div>
<div class="baseball-ballpark-element" style="margin-right: 0.875rem"><img src="/static/images/baseball/stadiums/GreatAmericanBallPark.jpg" class="baseball-ballpark-visited"/><img src="/static/images/baseball/logos/CIN.png" class="baseball-logo"/></div>
<div class="baseball-ballpark-element" style="margin-right: 0.875rem"><img src="/static/images/baseball/stadiums/ProgressiveField.jpg" class="baseball-ballpark-visited"/><img src="/static/images/baseball/logos/CLE.png" class="baseball-logo"/></div>
<div class="baseball-ballpark-element" style="margin-right: 0.875rem"><img src="/static/images/baseball/stadiums/CoorsField.jpg" class="baseball-ballpark-visited"/><img src="/static/images/baseball/logos/COL.png" class="baseball-logo"/></div>
<div class="baseball-ballpark-element"><img src="/static/images/baseball/stadiums/ComericaPark.jpg" class="baseball-ballpark-visited"/><img src="/static/images/baseball/logos/DET.png" class="baseball-logo"/></div>
<div class="baseball-ballpark-element" style="margin-right: 0.875rem"><img src="/static/images/baseball/stadiums/MinuteMaidPark.jpg" class="baseball-ballpark-visited"/><img src="/static/images/baseball/logos/HOU.png" class="baseball-logo"/></div>
<div class="baseball-ballpark-element" style="margin-right: 0.875rem"><img src="/static/images/baseball/stadiums/KauffmanStadium.jpg" class="baseball-ballpark"/></div>
<div class="baseball-ballpark-element" style="margin-right: 0.875rem"><img src="/static/images/baseball/stadiums/AngelStadium.jpg" class="baseball-ballpark-visited"/><img src="/static/images/baseball/logos/LAA.png" class="baseball-logo"/></div>
<div class="baseball-ballpark-element" style="margin-right: 0.875rem"><img src="/static/images/baseball/stadiums/DodgerStadium.jpg" class="baseball-ballpark-visited"/><img src="/static/images/baseball/logos/LAD.png" class="baseball-logo"/></div>
<div class="baseball-ballpark-element"><img src="/static/images/baseball/stadiums/MarlinsPark.jpg" class="baseball-ballpark-visited"/><img src="/static/images/baseball/logos/MIA.png" class="baseball-logo"/></div>
<div class="baseball-ballpark-element" style="margin-right: 0.875rem"><img src="/static/images/baseball/stadiums/MillerPark.jpg" class="baseball-ballpark-visited"/><img src="/static/images/baseball/logos/MIL.png" class="baseball-logo"/></div>
<div class="baseball-ballpark-element" style="margin-right: 0.875rem"><img src="/static/images/baseball/stadiums/TargetField.jpg" class="baseball-ballpark-visited"/><img src="/static/images/baseball/logos/MIN.png" class="baseball-logo"/></div>
<div class="baseball-ballpark-element" style="margin-right: 0.875rem"><img src="/static/images/baseball/stadiums/CitiField.jpg" class="baseball-ballpark-visited"/><img src="/static/images/baseball/logos/NYM.png" class="baseball-logo"/></div>
<div class="baseball-ballpark-element" style="margin-right: 0.875rem"><img src="/static/images/baseball/stadiums/YankeeStadium.jpg" class="baseball-ballpark-visited"/><img src="/static/images/baseball/logos/NYY.png" class="baseball-logo"/></div>
<div class="baseball-ballpark-element"><img src="/static/images/baseball/stadiums/OaklandColiseum.jpg" class="baseball-ballpark-visited"/><img src="/static/images/baseball/logos/OAK.png" class="baseball-logo"/></div>
<div class="baseball-ballpark-element" style="margin-right: 0.875rem"><img src="/static/images/baseball/stadiums/CitizensBankPark.jpg" class="baseball-ballpark-visited"/><img src="/static/images/baseball/logos/PHI.png" class="baseball-logo"/></div>
<div class="baseball-ballpark-element" style="margin-right: 0.875rem"><img src="/static/images/baseball/stadiums/PNCBankPark.jpg" class="baseball-ballpark-visited"/><img src="/static/images/baseball/logos/PIT.png" class="baseball-logo"/></div>
<div class="baseball-ballpark-element" style="margin-right: 0.875rem"><img src="/static/images/baseball/stadiums/PetcoPark.jpg" class="baseball-ballpark-visited"/><img src="/static/images/baseball/logos/SD.png" class="baseball-logo"/></div>
<div class="baseball-ballpark-element" style="margin-right: 0.875rem"><img src="/static/images/baseball/stadiums/ATTPark.jpg" class="baseball-ballpark-visited"/><img src="/static/images/baseball/logos/SF.png" class="baseball-logo"/></div>
<div class="baseball-ballpark-element"><img src="/static/images/baseball/stadiums/SafecoField.jpg" class="baseball-ballpark-visited"/><img src="/static/images/baseball/logos/SEA.png" class="baseball-logo"/></div>
<div class="baseball-ballpark-element" style="margin-right: 0.875rem"><img src="/static/images/baseball/stadiums/BuschStadium.jpg" class="baseball-ballpark-visited"/><img src="/static/images/baseball/logos/STL.png" class="baseball-logo"/></div>
<div class="baseball-ballpark-element" style="margin-right: 0.875rem"><img src="/static/images/baseball/stadiums/TropicanaField.jpg" class="baseball-ballpark-visited"/><img src="/static/images/baseball/logos/TB.png" class="baseball-logo"/></div>
<div class="baseball-ballpark-element" style="margin-right: 0.875rem"><img src="/static/images/baseball/stadiums/GlobeLifePark.jpg" class="baseball-ballpark"/></div>
<div class="baseball-ballpark-element" style="margin-right: 0.875rem"><img src="/static/images/baseball/stadiums/RogersCentre.jpg" class="baseball-ballpark-visited"/><img src="/static/images/baseball/logos/TOR.png" class="baseball-logo"/></div>
<div class="baseball-ballpark-element"><img src="/static/images/baseball/stadiums/NationalsPark.jpg" class="baseball-ballpark-visited"/><img src="/static/images/baseball/logos/WAS.png" class="baseball-logo"/></div>

<div class="footer-div"></div>
