<img class="header-image" src="/static/images/icons/banner-dark.png" />
<ul class="header-menu">
    <li class="header-menu-option" onclick="UpdateContent('templates/home.html');">Home</li>
    <li class="header-menu-option" onclick="UpdateContent('templates/research.html');">Research</li>
    <li class="header-menu-option" onclick="UpdateContent('templates/baseball.html');">Baseball</li>
    <li class="header-menu-option" onclick="UpdateContent('templates/hiking.html');">Hiking</li>
    <li class="header-menu-option" onclick="UpdateContent('templates/travels.html');">Travels</li>
    <li class="header-menu-option" onclick="UpdateContent('templates/contact.html');">Contact</li>
</ul>