<div class="home-biography">
    Hi, I am Brian Matejek. I recently defended my Ph.D., researching biologically-aware algorithms for 
    connectomics in the <a href="https://vcg.seas.harvard.edu" target="_blank">Visual Computing Group</a> at 
    Harvard University, working under the guidance of Hanspeter Pfister. Within connectomics, I focused on 
    scalability problems as the datasets exceeded petabytes in size. Specifically, I investigated: 
    <span>compression</span> techniques for the raw image data and corresponding label volumes, 
    <span>error correction</span> methods to improve current state-of-the-art segmentation strategies, 
    <span>topological thinning</span> algorithms for simplifying the label volumes, and <span>subgraph enumeration</span>
    techniques for identifying small structural elements in the extracted wiring diagram. Before pursuing my Ph.D., 
    I received a B.S.E. and M.S.E. from Princeton University, working primarily with Thomas Funkhouser on 
    computer vision applications. For more information, my <a href="/static/pdfs/career/Matejek_CV.pdf" target="_blank">curriculum vitae</a>. 
    The most convenient way to contact me is via email at bmatejek AT gmail DOT com.
</div>

<div class="home-images">
    <div id="home-cube-container">
        <div id="home-cube">
            <figure class="front active">
                <img class="home-image" id="home-cube-face-one" />
            </figure>
            <figure class="right inactive">
                <img class="home-image" id="home-cube-face-two" />
            </figure>
            <figure class="back inactive" style="z-index: -10">
                <img class="home-image" id="home-cube-face-three" style="transform:rotateX(180deg);"/>
            </figure>
            <figure class="left inactive">
                <img class="home-image" id="home-cube-face-four" />
            </figure>
        </div>
    </div>    
</div>