<div class="research-type-header">
    Invited Talks and Presentations, Oral Exams, and Defenses
</div>

<div class="research-div">
    <img class="research-teaser-image" src="/static/images/research/talks/matejek2021biologically.png"/>
    <div class="research-information-wrapper">
        <div class="research-title">Biologically-Aware Algorithms for Connectomics</div>
        <div class="research-venue">Thesis Defense at <i>Harvard University</i>, April, 2021.</div>
        <div class="research-links">
            <a href="/static/talks/matejek2021biologically.pdf" target="_blank">Slides</a>
        </div>
    </div>
</div>

<div class="research-div">
    <img class="research-teaser-image" src="/static/images/research/talks/matejek2019efficient.png"/>
    <div class="research-information-wrapper">
        <div class="research-title">Error Correction for Connectomics</div>
        <div class="research-venue">Invited Talk at <i>BioImage Computing @ CVPR 2019</i>, June, 2019.</div>
        <div class="research-links">
            <a href="/static/talks/matejek2019efficient.pdf" target="_blank">Slides</a>
        </div>
    </div>
</div>

<div class="research-div">
    <img class="research-teaser-image" src="/static/images/research/talks/matejek2019synapse.png"/>
    <div class="research-information-wrapper">
        <div class="research-title">Synapse-Aware Skeleton Generation for Neural Circuits</div>
        <div class="research-venue">Invited Poster at <i>Max Planck Institute--Howard Hughes Medical Institute Connectomics Conference</i>, April, 2019.</div>
        <div class="research-links">
            <a href="/static/talks/matejek2019synapse.pdf" target="_blank">Poster</a>
        </div>
    </div>
</div>

<div class="research-div">
    <img class="research-teaser-image" src="/static/images/research/talks/matejek2018segmentation.png"/>
    <div class="research-information-wrapper">
        <div class="research-title">Segmentation of Electron Micrscopy Images in Connectomics</div>
        <div class="research-venue">Qualifying Exam at <i>Harvard University</i>, May, 2018.</div>
        <div class="research-links">
            <a href="/static/talks/matejek2018segmentation.pdf" target="_blank">Slides</a>
        </div>
    </div>
</div>

<div class="research-div">
    <img class="research-teaser-image" src="/static/images/research/talks/matejek2016learning.png"/>
    <div class="research-information-wrapper">
        <div class="research-title">Learning Global Features for Neuron Reconstruction in EM Images</div>
        <div class="research-venue">Master's Defense at <i>Princeton University</i>, May, 2016.</div>
        <div class="research-links">
            <a href="/static/talks/matejek2016learning.pdf" target="_blank">Slides</a>
        </div>
    </div>
</div>


<div class="research-type-header">
    Publications
</div>

<div class="research-div">
    <img class="research-teaser-image" src="/static/images/research/publications/chen2022algorithmic.png"/>
    <div class="research-information-wrapper">
        <div class="research-authors" style="font-size: 0.95rem">T. Chen, <b>B. Matejek</b>, M. Mitzenmacher, C.E. Tsourakakis</div>
        <div class="research-title">Algorithmic Tools for Understanding the Motif Structure of Networks</div>
        <div class="research-venue">In <i>Proceedings of European Conference on Machine Learning and Principles and Practice of Knowledge Discovery in Databases (ECML PKDD)</i>, September, 2022.</div>
        <div class="research-links">
            <a href="/static/publications/chen2022algorithmic.pdf" target="_blank">Paper</a>
            <a href="/static/publications/chen2022algorithmic_appendix.pdf" target="_blank">Appendix</a>
            <!-- <a href="https://github.com/Rhoana/blockbased_synapseaware" target="_blank">Code</a> -->
            <span onclick="toggleBibtex('#chen2022algorithmic');">Bibtex</span>
        </div>
    </div>
</div>
<div id="chen2022algorithmic" class="research-bibtex-citation">
    @article{chen2022algorithmic,<br>
    &nbsp;&nbsp;&nbsp;&nbsp;title={Algorithmic Tools for Understanding the Motif Structure of Networks},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;author={Chen, Tianyi and Matejek, Brian and Mitzenmacher, Michael and Tsourakakis, Charalampos E.},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;booktitle = {Proceedings of European Conference on Machine Learning and Principles and Practice of Knowledge Discovery in Databases (ECML PKDD)},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;month = {September},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;year = {2022}<br>
    }
</div>

<div class="research-div">
    <img class="research-teaser-image" src="/static/images/research/publications/matejek2022edge_colored.png"/>
    <div class="research-information-wrapper">
        <div class="research-authors" style="font-size: 0.95rem"><b>B. Matejek</b>, D. Wei, T. Chen, C.E. Tsourakakis, M. Mitzenmacher, H. Pfister</div>
        <div class="research-title">Edge-Colored Directed Subgraph Enumeration on the Connectome</div>
        <div class="research-venue">In <i>Springer Nature: Scientific Reports</i>, July, 2022.</div>
        <div class="research-links">
            <a href="/static/publications/matejek2022edge_colored.pdf" target="_blank">Paper</a>
            <a href="https://www.rhoana.org/subgraph_enumeration/" target="_blank">Website</a>
            <a href="https://github.com/Rhoana/subgraph_enumeration" target="_blank">Code</a>
            <span onclick="toggleBibtex('#matejek2022edge_colored');">Bibtex</span>
        </div>
    </div>
</div>
<div id="matejek2022edge_colored" class="research-bibtex-citation">
    @article{matejek2022edge_colored,<br>
    &nbsp;&nbsp;&nbsp;&nbsp;title={Edge-Colored Directed Subgraph Enumeration on the Connectome},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;author={Matejek, Brian and Wei, Donglai, and Chen, Tianyi and Tsourakakis, Charalampos E. and  Mitzenmacher, Michael and Pfister, Hanspeter},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;journal={Nature Scientific Reports},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;year={2022},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;organization={Springer}<br>
    }
</div>

<div class="research-div">
    <img class="research-teaser-image" src="/static/images/research/publications/matejek2022scalable.png"/>
    <div class="research-information-wrapper">
        <div class="research-authors" style="font-size: 0.95rem"><b>B. Matejek</b>, T. Franzmeyer, D. Wei, X. Wang, J. Zhao, K. Pal&aacute;gyi, J.W. Lichtman, and H. Pfister</div>
        <div class="research-title">Scalable Biologically-Aware Skeleton Generation for Connectomic Volumes</div>
        <div class="research-venue">In <i>IEEE Transactions on Medical Imaging</i>, April, 2022.</div>
        <div class="research-links">
            <a href="/static/publications/matejek2022scalable.pdf" target="_blank">Paper</a>
            <a href="https://www.rhoana.org/blockbased_synapseaware/" target="_blank">Website</a>
            <a href="https://github.com/Rhoana/blockbased_synapseaware" target="_blank">Code</a>
            <span onclick="toggleBibtex('#matejek2022scalable');">Bibtex</span>
        </div>
    </div>
</div>
<div id="matejek2022scalable" class="research-bibtex-citation">
    @article{matejek2022scalable,<br>
    &nbsp;&nbsp;&nbsp;&nbsp;title={Scalable Biologically-Aware Skeleton Generation for Connectomic Volumes},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;author={Matejek, Brian and Franzmeyer, Tim and Wei, Donglai and Wang, Xueying and Zhao, Jinglin and Pal\ agyi, K\ alm\ an and Lichtman, J and Pfister, Hanspeter},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;journal={IEEE transactions on medical imaging},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;year={2022},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;organization={IEEE}<br>
    }
</div>

<div class="research-div">
    <img class="research-teaser-image" src="/static/images/research/publications/wei2021axonEM.png"/>
    <div class="research-information-wrapper">
        <div class="research-authors" style="font-size: 0.95rem">D. Wei, K. Lee, H. Li, R. Lu, J.A. Bae, Z. Liu, L. Zhang, M. dos Santos, Z. Lin, T. Uram, X. Wang, I. Arganda-Carreras, <b>B. Matejek</b>, N. Kasthuri, J.W. Lichtman, H. Pfister</div>
        <div class="research-title">AxonEM Dataset: 3D Axon Instance Segmentation of Brain Cortical Regions</div>
        <div class="research-venue">In <i>Springer: International Conference on Medical Image Computing and Computer-Assisted Intervention (MICCAI)</i>, September, 2021.</div>
        <div class="research-links">
            <a href="/static/publications/wei2021axonEM.pdf" target="_blank">Paper</a>
            <a href="https://connectomics-bazaar.github.io/proj/AxonEM/index.html" target="_blank">Website</a>
            <a href="https://github.com/donglaiw/AxonEM-challenge/" target="_blank">Code</a>
            <span onclick="toggleBibtex('#wei2021axonEM');">Bibtex</span>
        </div>
    </div>
</div>
<div id="wei2021axonEM" class="research-bibtex-citation">
    @article{wei2021axonEM,<br>
    &nbsp;&nbsp;&nbsp;&nbsp;title={AxonEM Dataset: 3D Axon Instance Segmentation of Brain Cortical Regions},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;author={Wei, Donglai and Lee, Kisuk and Li, Hanyu and Lu, Ran and Bae, J Alexander and Liu, Zequan and Zhang, Lifu and Santos, M{\'a}rcia dos and Lin, Zudi and Uram, Thomas and Wang, Xueying and Arganda-Carreras, Ignacio and Matejek, Brian and Kasthuri, Narayanan and Lichtman, Jeff W. and Pfister, Hanspeter},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;booktitle={International Conference on Medical Image Computing and Computer-Assisted Intervention},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;pages={175--185},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;year={2021},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;organization={Springer}<br>
    }
</div>

<div class="research-div">
    <img class="research-teaser-image" src="/static/images/research/publications/lin2020two.png"/>
    <div class="research-information-wrapper">
        <div class="research-authors" style="font-size: 0.9rem">Z. Lin, D. Wei, W.D. Jang, S. Zhou, X. Chen, X. Wang, R. Schalek, D. Berger, <b>B. Matejek,</b> L. Kamentsky, A. Suissa-Peleg, D. Haehn, T. Jones, T. Parag, J.W. Lichtman, and H. Pfister</div>
        <div class="research-title">Two Stream Active Query Suggestion for Active Learning in Connectomics</div>
        <div class="research-venue">In <i>Proceedings of European Conference on Computer Vision (ECCV)</i>, August, 2020.</div>
        <div class="research-links">
            <a href="/static/publications/lin2020two.pdf" target="_blank">Paper</a>
            <a href="/static/publications/lin2020two_supplemental.pdf" target="_blank">Supplemental</a>
            <a href="https://zudi-lin.github.io/projects/#two_stream_active" target="_blank">Website</a>
            <a href="https://github.com/zudi-lin/pytorch_connectomics/" target="_blank">Code</a>
            <span onclick="toggleBibtex('#lin2020two');">Bibtex</span>
        </div>
    </div>
</div>

<div id="lin2020two" class="research-bibtex-citation">
    @article{lin2020twostream,<br>
    &nbsp;&nbsp;&nbsp;&nbsp;title={Two Stream Active Query Suggestion for Active Learning in Connectomics},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;author={Lin, Zudi and Wei, Donglai and Jang, Won-Dong and Zhou, Siyan and Chen, Xupeng and Wang, Xueying and Schalek, Richard and Berger, Daniel and Matejek, Brian and Kamentsky, Lee and Peleg, Adi and Haehn, Daniel and Jones, Thouis R. and Parag, Toufiq and Lichtman, Jeff and Pfister, Hanspeter},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;booktitle = {European Conference on Computer Vision (ECCV)},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;month = {August},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;year = {2020}<br>
    }
</div>

<div class="research-div">
    <img class="research-teaser-image" src="/static/images/research/publications/matejek2019synapse.png"/>
    <div class="research-information-wrapper">
        <div class="research-authors"><b>B. Matejek,</b> D. Wei, X. Wang, J. Zhao, K. Pal&aacute;gyi, and H. Pfister</div>
        <div class="research-title">Synapse-Aware Skeleton Generation for Neural Circuits</div>
        <div class="research-venue">In <i>Springer: International Conference on Medical Image Computing and Computer-Assisted Intervention (MICCAI)</i>, October, 2019.</div>
        <div class="research-links">
            <a href="/static/publications/matejek2019synapse.pdf" target="_blank">Paper</a>
            <a href="/static/publications/matejek2019synapse_supplemental.pdf" target="_blank">Supplemental</a>
            <a href="/static/publications/matejek2019synapse_poster.pdf" target="_blank">Poster</a>
            <a href="https://www.rhoana.org/synapseaware" target="_blank">Website</a>
            <a href="https://vimeo.com/346941355" target="_blank">Video</a>
            <a href="https://github.com/Rhoana/synapseaware" target="_blank">Code</a>
            <span onclick="toggleBibtex('#matejek2019synapse');">Bibtex</span>
        </div>
    </div>
</div>

<div id="matejek2019synapse" class="research-bibtex-citation">
    @inproceedings{matejek2019synapse,<br>
    &nbsp;&nbsp;&nbsp;&nbsp;title={Synapse-Aware Skeleton Generation for Neural Circuits},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;author={Matejek, Brian and Wei, Donglai and Wang, Xueying and Zhao, Jinglin and Pal{\'a}gyi, K{\'a}lm{\'a}n and Pfister, Hanspeter},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;booktitle={International Conference on Medical Image Computing and Computer-Assisted Intervention},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;pages={227--235},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;year={2019},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;organization={Springer}<br>
    }
</div>

<div class="research-div">
    <img class="research-teaser-image" src="/static/images/research/publications/matejek2019biologically.png"/>
    <div class="research-information-wrapper">
        <div class="research-authors"><b>B. Matejek,</b> D. Haehn, H. Zhu, D. Wei, T. Parag, and H. Pfister</div>
        <div class="research-title">Biologically-Constrained Graphs for Global Connectomics Reconstruction</div>
        <div class="research-venue">In <i>Proceedings of IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</i>, June, 2019.</div>
        <div class="research-links">
            <a href="/static/publications/matejek2019biologically.pdf" target="_blank">Paper</a>
            <a href="/static/publications/matejek2019biologically_supplemental.pdf" target="_blank">Supplemental</a>
            <a href="/static/publications/matejek2019biologically_poster.pdf" target="_blank">Poster</a>
            <a href="https://www.rhoana.org/biologicalgraphs" target="_blank">Website</a>
            <a href="https://github.com/Rhoana/biologicalgraphs" target="_blank">Code</a>
            <span onclick="toggleBibtex('#matejek2019biologically');">Bibtex</span>
        </div>
    </div>
</div>

<div id="matejek2019biologically" class="research-bibtex-citation">
    @inproceedings{matejek2019biologically,<br>
    &nbsp;&nbsp;&nbsp;&nbsp;title={Biologically-constrained graphs for global connectomics reconstruction},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;author={Matejek, Brian and Haehn, Daniel and Zhu, Haidong and Wei, Donglai and Parag, Toufiq and Pfister, Hanspeter},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;booktitle={Proceedings of the IEEE Conference on Computer Vision and Pattern Recognition},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;pages={2089--2098},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;year={2019}<br>
    }
</div>

<div class="research-div">
    <img class="research-teaser-image" src="/static/images/research/publications/dmitriev2018efficient.png"/>
    <div class="research-information-wrapper">
        <div class="research-authors">K. Dmitriev, T. Parag, <b>B. Matejek,</b> A. Kaufman, and H. Pfister</div>
        <div class="research-title">Efficient Correction for EM Connectomics with Skeletal Representation</div>
        <div class="research-venue">In <i>British Machine Vision Conference (BMVC)</i>, September, 2018.</div>
        <div class="research-links">
            <a href="/static/publications/dmitriev2018efficient.pdf" target="_blank">Paper</a>
            <a href="/static/publications/dmitriev2018efficient_poster.pdf" target="_blank">Poster</a>
            <span onclick="toggleBibtex('#dmitriev2018efficient');">Bibtex</span>
        </div>
    </div>
</div>

<div id="dmitriev2018efficient" class="research-bibtex-citation">
    @article{dmitriev122018efficient,<br>
    &nbsp;&nbsp;&nbsp;&nbsp;title={Efficient correction for em connectomics with skeletal representation},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;author={Dmitriev, Konstantin and Parag, Toufiq and Matejek, Brian and Kaufman, Arie E and Pfister, Hanspeter},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;journal={British Machine Vision Conference (BMVC)},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;year={2018}<br>
    }
</div>

<div class="research-div">
    <img class="research-teaser-image" src="/static/images/research/publications/behrisch2018commercial.png"/>
    <div class="research-information-wrapper">
        <div class="research-authors">M. Behrisch, D. Streeb, F. Stoffel, D. Seebacher, <b>B. Matejek,</b> S. Hagen Weber, S. Mittelst&auml;dt, H. Pfister, and D. Keim</div>
        <div class="research-title">Commercial Visual Analytics Systems - Advances in Big Data Analytics Field</div>
        <div class="research-venue">In <i>IEEE Transactions on Visualization and Computer Graphics (TVCG)</i>, July, 2018.</div>
        <div class="research-links">
            <a href="/static/publications/behrisch2018commercial.pdf" target="_blank">Paper</a>
            <a href="/static/publications/behrisch2018commercial_appendix.pdf" target="_blank">Appendix</a>
            <a href="/static/publications/behrisch2018commercial_slides.pdf" target="_blank">Slides</a>
            <a href="https://commercialtools.dbvis.de/home" target="_blank">Website</a>
            <span onclick="toggleBibtex('#behrisch2018commercial');">Bibtex</span>
        </div>
    </div>
</div>

<div id="behrisch2018commercial" class="research-bibtex-citation">
    @article{behrisch2018commercial,<br>
    &nbsp;&nbsp;&nbsp;&nbsp;title={Commercial visual analytics systems--advances in the big data analytics field},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;author={Behrisch, Michael and Streeb, Dirk and Stoffel, Florian and Seebacher, Daniel and Matejek, Brian and Weber, Stefan Hagen and Mittelstaedt, Sebastian and Pfister, Hanspeter and Keim, Daniel},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;journal={IEEE Transactions on Visualization and Computer Graphics},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;volume={25},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;number={10},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;pages={3011--3031},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;year={2018},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;publisher={IEEE}<br>
    }
</div>

<div class="research-div">
    <img class="research-teaser-image" src="/static/images/research/publications/matejek2017compresso.png"/>
    <div class="research-information-wrapper">
        <div class="research-authors"><b>B. Matejek,</b> D. Haehn, F. Lekschas, M. Mitzenmacher, and H. Pfister</div>
        <div class="research-title">Compresso: Efficient Compression of Segmentation Data For Connectomics</div>
        <div class="research-venue">In <i>Springer: International Conference on Medical Image Computing and Computer-Assisted Intervention (MICCAI)</i>, September, 2017.</div>
        <div class="research-links">
            <a href="/static/publications/matejek2017compresso.pdf" target="_blank">Paper</a>
            <a href="/static/publications/matejek2017compresso_poster.pdf" target="_blank">Poster</a>
            <a href="https://www.rhoana.org/compresso" target="_blank">Website</a>
            <a href="https://github.com/VCG/compresso" target="_blank">Code</a>
            <span onclick="toggleBibtex('#matejek2017compresso');">Bibtex</span>
        </div>
    </div>
</div>

<div id="matejek2017compresso" class="research-bibtex-citation">
    @inproceedings{matejek2017compresso,<br>
    &nbsp;&nbsp;&nbsp;&nbsp;title={Compresso: Efficient compression of segmentation data for connectomics},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;author={Matejek, Brian and Haehn, Daniel and Lekschas, Fritz and Mitzenmacher, Michael and Pfister, Hanspeter},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;booktitle={International Conference on Medical Image Computing and Computer-Assisted Intervention},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;pages={781--788},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;year={2017},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;organization={Springer}<br>
    }
</div>

<div class="research-div">
    <img class="research-teaser-image" src="/static/images/research/publications/haehn2017scalable.png"/>
    <div class="research-information-wrapper">
        <div class="research-authors" style="font-size: 0.725rem">D. Haehn, J. Hoffer, <b>B. Matejek,</b> A. Suissa-Peleg, A. Al-Awami, L. Kamentsky, F. Gonda, E. Meng, W. Zhang, R. Schalek, A. Wilson, T. Parag, J. Beyer, V. Kaynig, T. Jones, J. Tompkin, M. Hadwiger, J.W. Lichtman, and H. Pfister</div>
        <div class="research-title">Scalable Interactive Visualization for Connectomics</div>
        <div class="research-venue">In <i>MDPI Informatics</i>, August, 2017.</div>
        <div class="research-links">
            <a href="/static/publications/haehn2017scalable.pdf" target="_blank">Paper</a>
            <a href="https://vimeo.com/280509756" target="_blank">Video</a>
            <a href="https://github.com/Rhoana/butterfly" target="_blank">Code</a>
            <span onclick="toggleBibtex('#haehn2017scalable');">Bibtex</span>
        </div>
    </div>
</div>

<div id="haehn2017scalable" class="research-bibtex-citation">
    @inproceedings{haehn2017scalable,<br>
    &nbsp;&nbsp;&nbsp;&nbsp;title={Scalable interactive visualization for connectomics},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;author={Haehn, Daniel and Hoffer, John and Matejek, Brian and Suissa-Peleg, Adi and Al-Awami, Ali K and Kamentsky, Lee and Gonda, Felix and Meng, Eagon and Zhang, William and Schalek, Richard and others},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;booktitle={Informatics},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;volume={4},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;number={3},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;pages={29},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;year={2017},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;organization={Multidisciplinary Digital Publishing Institute}<br>
    }
</div>

<div class="research-div">
    <img class="research-teaser-image" src="/static/images/research/publications/parag2017anisotropic.png"/>
    <div class="research-information-wrapper">
        <div class="research-authors">T. Parag, F. Tschopp, W. Grisaitis, S.C. Turaga, X. Zhang, <b>B. Matejek,</b> L. Kamentsky, J.W. Lichtman, and H. Pfister</div>
        <div class="research-title">Anisotropic EM Segmentation by 3D Affinity Learning and Agglomeration</div>
        <div class="research-venue"><i>arXiv preprint arXiv:1707.08935</i>, July, 2017.</div>
        <div class="research-links">
            <a href="/static/publications/parag2017anisotropic.pdf" target="_blank">Paper</a>
            <span onclick="toggleBibtex('#parag2017anisotropic');">Bibtex</span>
        </div>
    </div>
</div>

<div id="parag2017anisotropic" class="research-bibtex-citation">
    @article{parag2017anisotropic,<br>
    &nbsp;&nbsp;&nbsp;&nbsp;title={Anisotropic EM segmentation by 3D affinity learning and agglomeration},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;author={Parag, Toufiq and Tschopp, Fabian and Grisaitis, William and Turaga, Srinivas C and Zhang, Xuewen and Matejek, Brian and Kamentsky, Lee and Lichtman, Jeff W and Pfister, Hanspeter},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;journal={arXiv preprint arXiv:1707.08935},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;year={2017}<br>
    }
</div>

<div class="research-div">
    <img class="research-teaser-image" src="/static/images/research/publications/dohan2015learning.png"/>
    <div class="research-information-wrapper">
        <div class="research-authors">D. Dohan, <b>B. Matejek,</b> and T. Funkhouser</div>
        <div class="research-title">Learning Hierarchical Semantic Segmentation of LIDAR Data</div>
        <div class="research-venue">In <i>IEEE International Conference of 3D Vision</i>, October, 2015.</div>
        <div class="research-links">
            <a href="/static/publications/dohan2015learning.pdf" target="_blank">Paper</a>
            <a href="/static/publications/dohan2015learning_supplemental.pdf" target="_blank">Supplemental</a>
            <span onclick="toggleBibtex('#dohan2015learning');">Bibtex</span>
        </div>
    </div>
</div>

<div id="dohan2015learning" class="research-bibtex-citation">
    @inproceedings{dohan2015learning,<br>
    &nbsp;&nbsp;&nbsp;&nbsp;title={Learning hierarchical semantic segmentations of LIDAR data},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;author={Dohan, David and Matejek, Brian and Funkhouser, Thomas},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;booktitle={2015 International Conference on 3D Vision},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;pages={273--281},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;year={2015},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;organization={IEEE}<br>
    }
</div>

<div class="research-type-header">
    Independent Research, Written Exams, and Theses
</div>

<div class="research-div">
    <img class="research-teaser-image" src="/static/images/research/theses/matejek2021biologically.png"/>
    <div class="research-information-wrapper">
        <div class="research-title">Biologically-Aware Algorithms for Connectomics</div>
        <div class="research-venue">Ph.D. Dissertation at <i>Harvard University</i>, April, 2021.</div>
        <div class="research-links">
            <a href="/static/theses/matejek2021biologically.pdf" target="_blank">Paper</a>
        </div>
    </div>
</div>

<div class="research-div">
    <img class="research-teaser-image" src="/static/images/research/theses/matejek2018segmentation.png"/>
    <div class="research-information-wrapper">
        <div class="research-title">Segmentation of Electron Microscopy Images for Connectomics</div>
        <div class="research-venue">Qualifying Exam at <i>Harvard University</i>, May, 2018.</div>
        <div class="research-links">
            <a href="/static/theses/matejek2018segmentation.pdf" target="_blank">Paper</a>
        </div>
    </div>
</div>

<div class="research-div">
    <img class="research-teaser-image" src="/static/images/research/theses/matejek2016learning.png"/>
    <div class="research-information-wrapper">
        <div class="research-title">Learning Global Features for Neuron Reconstruction in EM Images</div>
        <div class="research-venue">Master's Thesis at <i>Princeton University</i>, May, 2016.</div>
        <div class="research-links">
            <a href="/static/theses/matejek2016learning.pdf" target="_blank">Paper</a>
        </div>
    </div>
</div>

<div class="research-div">
    <img class="research-teaser-image" src="/static/images/research/theses/matejek2013detecting.png"/>
    <div class="research-information-wrapper">
        <div class="research-title">Detecting Objects Using Google Street View Data</div>
        <div class="research-venue">Independent Research at <i>Princeton University</i>, December, 2013.</div>
        <div class="research-links">
            <a href="/static/theses/matejek2013detecting.pdf" target="_blank">Paper</a>
            <a href="/static/theses/matejek2013detecting_poster.pdf" target="_blank">Poster</a>
        </div>
    </div>
</div>

<div class="research-div">
    <img class="research-teaser-image" src="/static/images/research/theses/matejek2013computational.png"/>
    <div class="research-information-wrapper">
        <div class="research-title">A Computational Analysis of Arbitrage Opportunities in Sports Gambling</div>
        <div class="research-venue">Independent Research at <i>Princeton University</i>, May, 2013.</div>
        <div class="research-links">
            <a href="/static/theses/matejek2013computational.pdf" target="_blank">Paper</a>
            <a href="/static/theses/matejek2013computational_poster.pdf" target="_blank">Poster</a>
        </div>
    </div>
</div>

<div class="footer-div"></div>