@use "../variables";
@use "../mixins";

.header-image {
    position: absolute;
    left: 0rem;
    right: 0rem;
    margin: auto;
    width: 61.5rem;
    height: 4.5rem;
}

.header-menu {
    @extend %dark-shadow;

    background-color: $color-dark;
    position: absolute;
    left: 0rem;
    right: 0rem;
    width: 100vw;
    margin-top: 4.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-left: calc(-50vw + 50%);
    text-align: center;
    min-width: 63.5rem;
    justify-content: center;
    align-items: center;
    display: flex;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.header-menu-option {
    font-weight: bold;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    width: 10rem;
    font-size: 1.25rem;
    height: 1.75rem;
    float: left;
    text-align: center;
    text-decoration: none;

    color: $color-light;
    background-color: $color-dark;
    cursor: pointer;
    
    &:hover {
        @extend %light-shadow;

        color: $color-dark;
        background-color: $color-light;
    }

    a {
        color: inherit;
        display: block;
        text-decoration: none;
    }
}

.header-menu-option-active {
    background-color: $color-darker;
}